@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CASA GAILLARD, S.A.<br />
    Carrer Gremi Boters, 29<br />
    <abbr title="Teléfono">P:</abbr>
    971 43 01 03
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:magatzemgaillard@outlook.es">magatzemgaillard@outlook.es</a><br />
    <strong>Marketing:</strong> <a href="mailto:magatzemgaillard@outlook.es">magatzemgaillard@outlook.es</a>
</address>