@model IEnumerable<CasaGaillard.Areas.Mantenimiento.Controllers.HomeController.UltimasRevisiones>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CASA GAILLARD S.A.</h1>
    <p class="lead">Aplicación para el control del mantenimiento en general de la empresa.</p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
   
    <div class="col-md-4">
        <h3>Revisiones de Cubas</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="col-md-4">Matrícula</th>
                        <th class="col-md-5">Validez</th>
                        <th class="col-md-3">Tipo</th>
                    </tr>

                </thead>
                @foreach (var c in ViewBag.Revis)
                {
                    <tr>
                        <td class="col-md-4">@c.MatriculaCuba</td>
                        <td class="col-md-5">@c.ValidaHasta.ToString("d")</td>
                        <td class="col-md-3">@c.DescripcionProxima</td>
                    </tr>
                }
            </table>

        <p><a class="btn btn-default" href="#">Más &raquo;</a></p>
    </div>
  
    <div class="col-md-4">
        <h3>Próximas ITVs de vehículos</h3>
        <p>En construcción. Detallará las próximas revisiones de los vehículos.</p>
        <p><a class="btn btn-default" href="#">Más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Resto de mantenimiento</h3>
        <p>En construcción. Tareas pendientes de ejecutar en mantenimiento.</p>
        <p><a class="btn btn-default" href="#">Más &raquo;</a></p>
    </div>
</div>