<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrljtufH4cA-Gd-v3j0ntsuOj4PGw0VHE&callback=initMap">
</script>
<style>
    #map {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
@{
    ViewBag.Title = "Index";
}

<h1>PÁGINA EN CONSTRUCCIÓN</h1>

<p>En esta página se verá una introducción de la actividad empresarial de CASA GAILLARD S.A.</p>

<div id="map"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1536.926167667554!2d2.670083404707691!3d39.608008745604856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297933b2eea8ea3%3A0x34e829eb3c344e33!2sCasa%20Gaillard%20S.A.!5e0!3m2!1ses!2ses!4v1604765618220!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>