
@{
    ViewBag.Title = "Tienda";
}

<h2>Tienda</h2>

<h1>PÁGINA EN CONSTRUCCIÓN</h1>

<p>Enumeración de los productos que tiene CASA GAILLARD S.A. a disposición de sus clientes y en que formatos se sirven.</p>