@model IEnumerable<CasaGaillard.Models.Revision>


<h3>Próximas Revisiones Cubas</h3>
<table>
    @foreach (var rev in Model)
    {
        <tr>
            <td>
                @rev.Cuba.MatriculaCuba
            </td>
            <td>@rev.FechaRevision</td>
        </tr>
    }
</table>
