<div>
    <nav class="nav flex-column">
        @Html.ActionLink("Inicio", "Index", "Pagina", new { area = "Pagina" }, htmlAttributes: new { @class = "nav-link active" })
        @Html.ActionLink("Tienda", "Tienda", "Pagina", new { area = "Pagina" }, htmlAttributes: new { @class = "nav-link active"})
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
</div>

